@tailwind base;
@tailwind components;
@tailwind utilities;

$theme-white: 225 100% 99%;
$theme-black: 268 4% 10%;

$global-theme: (
  --primary: 268 97% 23%,
  --primary-foreground: $theme-white,

  --popover: 268 97% 98.75%,
  --popover-foreground: $theme-black,

  --destructive: 0 84% 58%,
  --destructive-foreground: $theme-white,

  --success: 140 75% 40%,
  --success-foreground: $theme-white,

  --muted: 174 4.9% 92.2%,
  --muted-foreground: 174 2.45% 42.2%,

  --border: 174 9.9% 89.88%,

  --radius: 0.4rem,
  --transition: 0.2s,
);

$light-theme-override: (
  --background: $theme-white,
  --foreground: $theme-black,
);

$dark-theme-override: (
  --background: $theme-black,
  --foreground: $theme-white,
);

$light-theme: map-merge($global-theme, $light-theme-override);
$dark-theme: map-merge($global-theme, $dark-theme-override);

:root {
  @each $property, $value in $light-theme {
    #{$property}: #{$value};
  }

  &:is(.dark-theme) {
    @each $property, $value in $dark-theme {
      #{$property}: #{$value};
    }
  }

  @media (prefers-color-scheme: dark) {
    @each $property, $value in $dark-theme {
      #{$property}: #{$value};
    }

    &:is(.light-theme) {
      @each $property, $value in $light-theme {
        #{$property}: #{$value};
      }
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
